<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>  
        <div class="Mianhead">
            <h1>Welcome To B<span>i</span>keWo</h1>
        </div>  
        <mat-card class="mat-elevation-z4">
            <mat-card class="mat-elevation-z8">
                <h1 class="display-4">Vechile service registration</h1>
                <form class="example-form">
                    <mat-grid-list cols="3" rowHeight="120px">
                        <mat-grid-tile>
                               <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Vechile type</mat-label>
                      <input type="Vechile type" matInput [formControl]="emailFormControl1" [errorStateMatcher]="matcher"
                             placeholder="Vechile type">
                             <mat-hint>Vechile type!</mat-hint>
                      <mat-error *ngIf="emailFormControl1.hasError('DealerName') && !emailFormControl1.hasError('required')">
                        Please enter a Vechile type
                      </mat-error>  
                      <mat-error *ngIf="emailFormControl1.hasError('required')">
                        Vechile type is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Vehicle Model</mat-label>
                                <input type="text" matInput [formControl]="emailFormControl2" [errorStateMatcher]="matcher"
                                       placeholder="Vehicle Model">
                                <mat-hint>Vehicle Model!</mat-hint>
                                <mat-error *ngIf="emailFormControl2.hasError('patern') && !emailFormControl2.hasError('required')">
                                  Please enter a valid Vehicle Model
                                </mat-error>
                                <mat-error *ngIf="emailFormControl2.hasError('required')">
                                    Vehicle Model is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Service Type</mat-label>
                                <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                                       placeholder="Ex. pat@example.com">
                                <mat-hint>Service Type!</mat-hint>
                                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                  Please enter a Service Type
                                </mat-error>
                                <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Service Type is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                        </mat-grid-tile>
                    
                      </mat-grid-list>
                      <mat-grid-list cols="3" rowHeight="120px">
                        <mat-grid-tile>
                               <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Address</mat-label>
                      <input type="adderss" matInput [formControl]="addressFormControl" [errorStateMatcher]="matcher"
                             placeholder="Enter adderss">
                             <mat-hint>address!</mat-hint>
                      <mat-error *ngIf="addressFormControl.hasError('adderss') && !addressFormControl.hasError('required')">
                        Please enter a Dealer Name
                      </mat-error>  
                      <mat-error *ngIf="addressFormControl.hasError('required')">
                        Address is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>City</mat-label>
                                <input type="text" matInput [formControl]="cityFormControl" [errorStateMatcher]="matcher"
                                       placeholder="Enter City">
                                <mat-hint>City!</mat-hint>
                                <mat-error *ngIf="cityFormControl.hasError('patern') && !cityFormControl.hasError('required')">
                                  Please enter City!
                                </mat-error>
                                <mat-error *ngIf="cityFormControl.hasError('required')">
                                  City is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>State</mat-label>
                                <input type="text" matInput [formControl]="StateFormControl" [errorStateMatcher]="matcher"
                                       placeholder="Entere State">
                                <mat-hint> State / Province!</mat-hint>
                                <mat-error *ngIf="StateFormControl.hasError('text') && !StateFormControl.hasError('required')">
                                  Please enter your State!
                                </mat-error>
                                <mat-error *ngIf="StateFormControl.hasError('required')">
                                 State is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                        </mat-grid-tile>
                    
                      </mat-grid-list>
                      <mat-grid-list cols="3" rowHeight="120px">
                        <mat-grid-tile>
                               <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Pincode</mat-label>
                      <input type="adderss" matInput [formControl]="PincodeFormControl" [errorStateMatcher]="matcher"
                             placeholder="Pincode/zipcode">
                             <mat-hint>Pincode/zipcode!</mat-hint>
                      <mat-error *ngIf="PincodeFormControl.hasError('adderss') && !PincodeFormControl.hasError('required')">
                        Please enter a Pincode
                      </mat-error>  
                      <mat-error *ngIf="PincodeFormControl.hasError('required')">
                       Pincode is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width" appearance="fill">
            
                                    <mat-label>Select district</mat-label>
                                    <mat-select  matInput [formControl]="StateDFormControl" [errorStateMatcher]="matcher">
                                      <mat-option value="1">Adilabad</mat-option>
                                      <mat-option value="2">Bhadradri Kothagudem</mat-option>
                                      <mat-option value="3">Hyderabad</mat-option>
                                      <mat-option value="4">Jagitial</mat-option>
                                      <mat-option value="5">Jangaon</mat-option>
                                      <mat-option value="6">Jayashankar Bhupalapally</mat-option>
                                      <mat-option value="7">Jogulamba Gadwal</mat-option>
                                      <mat-option value="8">Kamareddy</mat-option>
                                      <mat-option value="9">Karimnagar</mat-option>
                                      <mat-option value="10">Khammam</mat-option>
                                      <mat-option value="11">Kumarambheem Asifabad</mat-option>
                                      <mat-option value="12">Mahabubabad</mat-option>
                                      <mat-option value="13">Mahabubnagar</mat-option>
                                      <mat-option value="14">Mancherial district</mat-option>
                                      <mat-option value="15">Medak</mat-option>
                                      <mat-option value="16">Medchal–Malkajgiri</mat-option>
                                      <mat-option value="17">Mulugu</mat-option>
                                      <mat-option value="18">Nagarkurnool</mat-option>
                                      <mat-option value="19">Narayanpet</mat-option>
                                      <mat-option value="20">Nalgonda</mat-option>
                                      <mat-option value="21">Nirmal</mat-option>
                                      <mat-option value="22">Nizamabad</mat-option>
                                      <mat-option value="23">Peddapalli</mat-option>
                                      <mat-option value="24">Rajanna Sircilla</mat-option>
                                      <mat-option value="25">Ranga Reddy</mat-option>
                                      <mat-option value="26">Sangareddy</mat-option>
                                      <mat-option value="27">Siddipet</mat-option>
                                      <mat-option value="28">Suryapet</mat-option>
                                      <mat-option value="29">Vikarabad</mat-option>
                                      <mat-option value="30">Wanaparthy</mat-option>
                                      <mat-option value="31">Warangal Rural</mat-option>
                                      <mat-option value="32">Warangal Urban</mat-option>
                                      <mat-option value="33">Yadadri Bhuvanagiri</mat-option>
                                    </mat-select>
                                
                                <mat-error *ngIf="StateDFormControl.hasError('patern') && !StateDFormControl.hasError('required')">
                                  Please select state!
                                </mat-error>
                                <mat-error *ngIf="StateDFormControl.hasError('required')">
                                    district is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Comment</mat-label>
                                <textarea matInput [formControl]="MassageFormControl" [errorStateMatcher]="matcher"></textarea>
                                <input type="text" matInput [formControl]="MassageFormControl" [errorStateMatcher]="matcher"
                                       placeholder="remarks">
                                <mat-hint> remarks</mat-hint>
                                <mat-error *ngIf="MassageFormControl.hasError('text') && !MassageFormControl.hasError('required')">
                                  Please enter Massage!
                                </mat-error>
                                <mat-error *ngIf="MassageFormControl.hasError('required')">
                                 remarks is <strong>required</strong>
                                </mat-error>
                              </mat-form-field>
                        </mat-grid-tile>
                    
                      </mat-grid-list>
                      <a mat-raised-button color="primary" type="button"   routerLink="/VserviceList">Submit</a>&nbsp;
                      <a mat-raised-button  color="warn">cancel</a>
                  </form>
            </mat-card>
        </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>

