

<mat-sidenav-container>

    <mat-sidenav mode="side" opened>
    
        <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-grid-list cols="2" rowHeight="50px"  class="Mianhead">
      <mat-grid-tile>
      
        <div>
          <h1>Welcome To B<span>i</span>keWo</h1>
        </div>
      </mat-grid-tile>
    
      <mat-grid-tile>
  
        <div id="Dlogo">
        
        <a href="#"> <img [src]="Ulogo" alt="..Logo" ></a> 
        
        </div>&nbsp;&nbsp;&nbsp;
  
      <div class="userHeaing">
          <h2><a href="#">admin</a></h2>
      </div>
      </mat-grid-tile>
  
        </mat-grid-list>
  
  
  <mat-dialog-content class="mat-typography">
    <mat-card class="mat-elevation-z4">
      <mat-card class="mat-elevation-z8">
          <h1 class="display-4"> OEM PURCHASE CREATION</h1>
          <form [formGroup]="OEMPURCHASEFrom">
              <mat-grid-list cols="3" rowHeight="120px">
                  <mat-grid-tile>
                         <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Model</mat-label>
                <input type="text" matInput
                     placeholder="Model" formControlName="Model">
                       <mat-hint>Enter Model!</mat-hint>
            
              </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Battery</mat-label>
                          <input  matInput type="text" class="example-right-align"
                                 placeholder="Enter Battery" formControlName="Battery" >
                          <mat-hint>Enter Battery!</mat-hint>
  
                        </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                      <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Quantity</mat-label>
                          <input type="text" matInput 
                                 placeholder="quantity" formControlName="Quantity">
                          <mat-hint>Enter Model!</mat-hint>
                     
                        </mat-form-field>
                  </mat-grid-tile>
                  <!-- <mat-grid-tile>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>OEM</mat-label>
                        <input type="text" matInput 
                               placeholder="OEM" formControlName="OEM">
                        <mat-hint>Enter Model!</mat-hint>
                   
                      </mat-form-field>
                </mat-grid-tile> -->
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                      <mat-label>OEM</mat-label>
                      <mat-select formControlName="OEM">
                        <mat-option value="Battre">Battre</mat-option>
                        <mat-option value="Kinetic_Green">Kinetic Green</mat-option>
                        <mat-option value="EV_Minda">EV Minda</mat-option>
                        <mat-option value="Enroute">Hayasa</mat-option>
                        <mat-option value="Delivered">Eko Tejas</mat-option>
                        <mat-option value="Delivered">ADMS</mat-option>
                      </mat-select>
                      <mat-hint>Selectstatus!</mat-hint>
                    </mat-form-field>
              </mat-grid-tile>  
                  <mat-grid-tile>
                    <mat-form-field appearance="fill">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option value="Purchased">Purchased</mat-option>
                          <mat-option value="paymentCompleted">paymentCompleted</mat-option>
                          <mat-option value="dispatched">dispatched</mat-option>
                          <mat-option value="Enroute">En route</mat-option>
                          <mat-option value="Delivered">Delivered</mat-option>
                        </mat-select>
                        <mat-hint>Selectstatus!</mat-hint>
                      </mat-form-field>
                </mat-grid-tile>
                </mat-grid-list>
                          
                <a mat-raised-button color="primary" type="button" (click)="submited()">Submit</a>&nbsp;
                <a mat-raised-button  color="warn" routerLink="/purchaseList">cancel</a>
            </form>
      </mat-card>
  </mat-card>
  </mat-dialog-content>
   
   
     
  
  
  